/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

/* //////Level patien  color class  */
.resuscitate-pt {
    background-color: rgb(240, 12, 12);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emergency-pt {
    background-color: rgb(231, 13, 158);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urgency-pt {
    background-color: rgb(252, 214, 3);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.semi-urgency-pt {
    background-color: rgb(17, 184, 67);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.none-urgency-pt {
    background-color: white;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border: 2px solid rgb(212, 207, 207);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
