<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <!-- pages -->
        <mat-card>
            <div class="w-auto h-auto">
                <div
                    class="flex flex-col items-start md:items-start sm:justify-start md:justify-start flex-auto min-w-0">
                    <div class="flex flex-row pl-4">
                        <div
                            class="flex align-items-stretch w-full flex-wrap card-container blue-container justify-between">
                            <div class="flex flex-row m-2 mt-0">
                                <div class="flex align-items-center justify-content-center m-2">
                                    <button mat-raised-button class="bg-indigo-500 text-white text-2xl rounded-md"
                                        matTooltip="ส่งต่อผู้ป่วย">
                                        Refer Out
                                    </button>
                                </div>
                                <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                                    <mat-label>วันเริ่มต้น</mat-label>
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="sdate"
                                        (click)="picker1.open()" (ngModelChange)="onDateSelected()" />
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                                    <mat-label>วันสิ้นสุด</mat-label>
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="edate"
                                        (click)="picker2.open()" (ngModelChange)="onDateSelected()" />
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                                    <input name="cid" matInput [(ngModel)]="cid" placeholder="เลขบัตรประชาชน"
                                        (keyup)="valuechange($event)"
                                        onkeypress="if(this.value.length==13) return false;" />
                                </mat-form-field>

                                <div class="flex align-items-center justify-content-center m-2">
                                    <button mat-button class="bg-teal-500 text-white text-2xl rounded-md mr-2"
                                        matTooltip="ค้นหา" (click)="onSearch()">
                                        <mat-icon class="text-white">search</mat-icon>
                                    </button>
                                    <button mat-button class="bg-red-400 text-white text-2xl rounded-md"
                                        matTooltip="ล้างการค้นหา" (click)="onClear()">
                                        <mat-icon class="text-white">refresh</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="flex m-2">
                                <div class="flex align-items-center justify-content-center pr-10">
                                    <button mat-raised-button class="bg-indigo-500 text-white text-2xl rounded-md"
                                        matTooltip="ส่งต่อรายใหม่" (click)="onCreate()">
                                        <mat-icon class="text-white">person_add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-start align-items-center mb-2">
                        <span class="flex mr-3 pl-3">
                            <button type="button" class="flex mr-2 shadow-4 resuscitate-pt">R</button>
                            Resuscitate</span>
                        <span class="flex mr-3 pl-3">
                            <button type="button" class="flex mr-2 shadow-4 emergency-pt">E</button>
                            Emergency </span>
                        <span class="flex mr-3 pl-3">
                            <button type="button" class="flex mr-2 shadow-4 urgency-pt">U</button>
                            Urgency </span>
                        <span class="flex mr-3 pl-3">
                            <button type="button" class="flex mr-2 shadow-4 semi-urgency-pt">S</button>
                            Semi Urgency </span>
                        <span class="flex mr-3 pl-3">
                            <button type="button" class="flex mr-2 shadow-4 none-urgency-pt">N</button>
                            None Urgency
                        </span>
                    </div>
                    <div class="w-full border border-gray-300">
                        <table mat-table [dataSource]="dataSource" class="w-full" id="dt">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef
                                    class="w-10 border border-gray-300 bg-gray-50 border-b-2 border-b-slate-600"></th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300">
                                    <button label="R" matTooltip="Resuscitate" class="resuscitate-pt m-1"
                                        *ngIf="element.strength_id === '1'">R</button>
                                    <button label="E" matTooltip="Emergency" class="emergency-pt m-1"
                                        *ngIf="element.strength_id === '2'">E</button>
                                    <button label="U" matTooltip="Urgency" class="urgency-pt m-1"
                                        *ngIf="element.strength_id === '3'">U</button>
                                    <button label="S" matTooltip="Semi Urgency" class="semi-urgency-pt m-1"
                                        *ngIf="element.strength_id === '4'">S</button>
                                    <button label="N" matTooltip="None Urgency" class="none-urgency-pt m-1"
                                        *ngIf="element.strength_id === '5'">N</button>
                                    <button label="U" matTooltip="Unstable patient" class="resuscitate-pt m-1"
                                        *ngIf="element.refer_triage_id === '1'">U</button>
                                    <button label="H" matTooltip="Stable with high risk of deterioration"
                                        class="emergency-pt m-1" *ngIf="element.refer_triage_id === '2'">H</button>
                                    <button label="M" matTooltip="Stable with medium risk of deterioration"
                                        class="urgency-pt m-1" *ngIf="element.refer_triage_id === '3'">M</button>
                                    <button label="L" matTooltip="Stable with low risk of deterioration"
                                        class="semi-urgency-pt m-1" *ngIf="element.refer_triage_id === '4'">L</button>
                                    <button label="N" matTooltip="Stable with no risk of deterloration"
                                        class="none-urgency-pt m-1" *ngIf="element.refer_triage_id === '5'">N</button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="file">
                                <th mat-header-cell *matHeaderCellDef
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    แนบ</th>
                                <td mat-cell *matCellDef="let element"
                                    class="border border-gray-300 p-mr-2 text-center">
                                    <span class="p-inputgroup-addon" (click)="uploadsRoute(element)">
                                        <mat-icon svgIcon="heroicons_outline:paper-clip"></mat-icon>
                                    </span>
                                    <span class="p-inputgroup-addon" pTooltip="ใบนัด"
                                        *ngIf="element.attpath_appoint != null ">
                                        <mat-icon svgIcon="feather:file-text"
                                            (click)="downloadAttRoute(element.attpath_appoint)"
                                            style="font-size:20px; color:green"></mat-icon></span>
                                    <span class="p-inputgroup-addon" *ngIf="element.attpath_appoint == null "><mat-icon
                                            svgIcon="feather:file-text"></mat-icon></span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="appoint">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    ขอนัด</th>
                                <td mat-cell *matCellDef="let element"
                                    class="border border-gray-300 p-mr-2 text-center">
                                    <button type="button" class="mat-mini-fab bg-orange-400 mx-1"
                                        styleClass="pbuttonxsmall" matTooltip="ขอนัดด่วนภายใน 24 ชั่วโมง"
                                        *ngIf="element.refer_appoint === '1'"><mat-icon
                                            svgIcon="feather:calendar"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-green-400 mx-1"
                                        styleClass="pbuttonxsmall" matTooltip="ขอนัดตามสะดวก"
                                        *ngIf="element.refer_appoint === '2'"><mat-icon
                                            svgIcon="feather:calendar"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-amber-400 mx-1"
                                        styleClass="pbuttonxsmall" matTooltip="มีนัดแล้วแต่ขอใบรีเฟอร์ต่อเนื่อง"
                                        *ngIf="element.refer_appoint === '3'"><mat-icon
                                            svgIcon="feather:calendar"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-red-400 mx-1"
                                        styleClass="pbuttonxsmall" matTooltip="ขอนัด CAG"
                                        *ngIf="element.refer_appoint === '4'"><mat-icon
                                            svgIcon="feather:calendar"></mat-icon></button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="clinic">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    ปลายทาง</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    {{element.location_refer_name}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="load">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    การนำส่ง</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    <button type="button" class="mat-mini-fab bg-green-600 text-white mx-1"
                                        matTooltip="{{element.loads_name}}" *ngIf="element.loads_id === '1'"><mat-icon
                                            svgIcon="mat_outline:electric_rickshaw"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-red-600 text-white mx-1"
                                        matTooltip="{{element.loads_name}}" *ngIf="element.loads_id === '2'"><mat-icon
                                            svgIcon="mat_outline:person"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-red-400 text-white mx-1"
                                        matTooltip="{{element.loads_name}}" *ngIf="element.loads_id === '3'"><mat-icon
                                            svgIcon="heroicons_solid:user"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-violet-600 text-white mx-1"
                                        matTooltip="{{element.loads_name}}" *ngIf="element.loads_id === '4'"><mat-icon
                                            svgIcon="mat_solid:directions_car"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-amber-600 text-white mx-1"
                                        matTooltip="{{element.loads_name}}" *ngIf="element.loads_id === '5'"><mat-icon
                                            svgIcon="heroicons_solid:truck"></mat-icon></button>
                                    <button type="button" class="mat-mini-fab bg-amber-400 text-white mx-1"
                                        matTooltip="{{element.loads_name}}" *ngIf="element.loads_id === '6'"><mat-icon
                                            svgIcon="mat_outline:local_shipping"></mat-icon></button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="hn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    HN</th>
                                <td mat-cell *matCellDef="let element"
                                    class="border border-gray-300 p-mr-2 text-end pr-1" (click)="onRowSelect($event)">
                                    {{element.hn}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    ชื่อ-สกุล</th>
                                <td mat-cell *matCellDef="let element"
                                    class="border border-gray-300 p-mr-2 text-start pl-1" (click)="onRowSelect($event)">
                                    {{element.fullname}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="cid">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    CID</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    {{ element.cid | itemname:'cid' }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="refer-no">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="w-24 border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    เลขที่ส่งต่อ</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    <span *ngIf="element.refer_no != '0'">{{element.refer_no}}</span>
                                    <span *ngIf="element.refer_no == 0"></span>
                                </td>

                            </ng-container>
                            <ng-container matColumnDef="refer-date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    วันที่</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (onRowSelect)="onRowSelect($event)">
                                    <span *ngIf="element.refer_date">{{element.refer_date | thaidate:'short'}}</span>
                                    <span *ngIf="!element.refer_date"></span>

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="refer-time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    เวลา</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    <span *ngIf="element.refer_time">{{element.refer_time | itemname:'time'}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="refer-hosp">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center w-16 bg-gray-50 border-b-2 border-b-slate-600 border-t-0">
                                    ปลายทาง</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    {{element.refer_hospname}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="refer-in-no">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="w-24 border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    เลขที่</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    <span
                                        *ngIf="element.receive_no != '0' && element.receive_refer_result_id != '2'">{{element.receive_no}}</span>
                                    <span class="bg-red-600 text-center" *ngIf="element.receive_refer_result_id == '2'"
                                        class="white-space-normal">{{element.refer_result_name}} </span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="receive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="w-24 border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    จุดที่รับ</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    {{element.receive_spclty_name}}&nbsp;
                                    <mat-icon svgIcon="heroicons_solid:view-boards" style="font-size:20px; color:green"
                                        (click)="onClickSssess(element)" *ngIf="element.eva == 'eva'"></mat-icon>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="receive-date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    วันที่</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click)="onRowSelect($event)">
                                    <span *ngIf="element.receive_date != 'Invalid date'">{{element.receive_date |
                                        thaidate:'short'}}</span>
                                    <span *ngIf="!element.receive_date == 'Invalid date'"></span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="receive-time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    เวลา</th>
                                <td mat-cell *matCellDef="let element" class="border border-gray-300 p-mr-2 text-center"
                                    (click))="onRowSelect($event)">
                                    <span *ngIf="element.receive_time">{{element.receive_time| itemname:'time'}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="cancel">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="border border-gray-300 text-center bg-gray-50 border-b-2 border-b-slate-600">
                                    ลบ</th>
                                <td mat-cell *matCellDef="let element"
                                    class="border border-gray-300 p-mr-2 text-center">
                                    <span class="p-inputgroup-addon" matTooltip="ยกเลิกรีเฟอร์"
                                        *ngIf="element.receive_no === '0' || element.receive_refer_result_id === '2' || element.refer_appoint === '3'"><mat-icon
                                            svgIcon="heroicons_outline:trash" style="line-height: 1.25;color:red;"
                                            (click)="deleteReferOut(element.refer_no)"></mat-icon></span>

                                </td>
                            </ng-container>

                            <!-- Header First Row -->
                            <ng-container matColumnDef="header-first-row">
                                <th *matHeaderCellDef [style.text-align]="center" [attr.colspan]="17"
                                    class="bg-gray-200 border border-gray-300">
                                    <div class="flex flex-row w-full justify-between">
                                        <div class="flex justify-content-start text-2xl pl-10 pt-2">
                                            <span class="text-center justify-content-center pt-2">รายการที่ส่งต่อ</span>
                                        </div>
                                        <div class="flex justify-content-end">
                                            <mat-form-field class="example-form-field mr-2" appearance="outline">
                                                <mat-label>ค้นหา</mat-label>
                                                <input matInput placeholder="search">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </th>
                            </ng-container>
                            <!-- End First Row -->

                            <!-- Header Second Row Group-->
                            <ng-container matColumnDef="header-second-row-1">
                                <th *matHeaderCellDef [style.text-align]="center" [attr.colspan]="5"
                                    class="bg-gray-100 border border-gray-300">
                                    การนำส่ง
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-second-row-2">
                                <th *matHeaderCellDef [style.text-align]="center" [attr.colspan]="3"
                                    class="bg-gray-100 border border-gray-300">
                                    ผู้ป่วย
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-second-row-3">
                                <th *matHeaderCellDef [style.text-align]="center" [attr.colspan]="3"
                                    class="bg-gray-100 border border-gray-300">
                                    ใบส่งตัว
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-second-row-4">
                                <th *matHeaderCellDef [style.text-align]="center" [attr.colspan]="1"
                                    class="bg-gray-100 border border-gray-300 border-b-0">
                                    สถานบริการ
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-second-row-5">
                                <th *matHeaderCellDef [style.text-align]="center" [attr.colspan]="5"
                                    class="bg-gray-100 border border-gray-300">
                                    การลงรับ
                                </th>
                            </ng-container>
                            <!-- End Second Row -->
                            <tr mat-header-row *matHeaderRowDef="['header-first-row']"></tr>
                            <tr mat-header-row *matHeaderRowDef="[
                                    'header-second-row-1',
                                    'header-second-row-2',
                                    'header-second-row-3',
                                    'header-second-row-4',
                                    'header-second-row-5'
                                ]"></tr>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                        <mat-paginator class="flex justify-end pr-4" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                    <!-- End Table -->
                </div>
                <!-- End Table -->
            </div>
    </mat-card>
    </div>
</div>